<div class="toggle-unit">
    <ng-container *ngIf="(selectedUnitType$ | async) as selectedUnitType">
        <mat-slide-toggle color="primary" (toggleChange)="toggleUnitType()"
            [checked]="selectedUnitType === unitTypeEnum.celsius">
            <small>Toggle ℉/℃</small>
        </mat-slide-toggle>
    </ng-container>
</div>
<div class="row text-center pt-5">
    <div class="col">
        <form [formGroup]="searchForm">
            <mat-form-field class="w-75">
                <input type="search" placeholder="Type city name" matInput formControlName="searchQuery"
                    [matAutocomplete]="auto">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let city of cities$ | async" [value]="city.LocalizedName"
                        (onSelectionChange)="citySelectionChanged(city.Key)">
                        {{city.LocalizedName}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="searchForm.get('searchQuery').hasError('pattern')">Please type only english letters
                </mat-error>
            </mat-form-field>
        </form>

    </div>
</div>
<ng-container *ngIf="(currentWeather$ | async ) as currentWeather">
    <div class="mt-md-4">
        <mat-card class="mx-3 pb-5">
            <div class="row" *ngIf="(selectedLocation$ | async ) as selectedLocation">
                <div class="col-9 col-md-10 row no-gutters">
                    <div class="col-4 col-md-1">
                        <img class="img-fluid" src="/assets/weather-icons/{{currentWeather.WeatherIcon}}-s.png"
                            alt="weather icon">
                    </div>
                    <div class="col-6">
                        <strong class="d-block">{{selectedLocation.LocalizedName}}</strong>
                        <span>{{getTemperatureText(currentWeather, (selectedUnitType$ | async))}}</span>
                    </div>

                </div>
                <div class="col-2 text-right">
                    <button mat-icon-button matTooltip="{{getFavoriteBtnToolTip(selectedLocation.Key)}}" class="fav-btn"
                        [ngClass]="{'is-favorite': isFavorite(selectedLocation.Key)}"
                        (click)="addRemoveFavorite(currentWeather,selectedLocation)">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
            <h3 class="text-center py-4">{{currentWeather.WeatherText}}</h3>

            <ng-container *ngIf="(nextDays$ | async) as nextDays">
                <div class="row mt-md-5 mt-2 justify-content-around">
                    <div class="col-6 col-md-2 mt-4 mt-md-0" *ngFor="let forecast of nextDays.DailyForecasts">
                        <mat-card>
                            <strong class="d-block">{{forecast.Date | date: 'EEE'}}</strong>
                            <span>{{getRangeTemperatureText(forecast.Temperature, (selectedUnitType$ | async))}}</span>
                            <img class="img-fluid" src="/assets/weather-icons/{{forecast.Day.Icon}}-s.png"
                                alt="weather icon">
                        </mat-card>
                    </div>
                </div>
            </ng-container>
        </mat-card>
    </div>
</ng-container>