<header>
  <mat-toolbar color="primary" class="flex-wrap">
    <span>Weather Application</span>
    <span class="fill-remaining-space"></span>
    <div class="mr-md-5">
      <mat-slide-toggle color="accent" (toggleChange)="toggleTheme('dark-theme')">
        <small> Toggle theme</small>
      </mat-slide-toggle>
    </div>
    <nav class="ml-auto">
      <a mat-button color="accent" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
      <a mat-button color="accent" [routerLink]="[ '/favorites' ]" routerLinkActive="active">Favorites</a>
    </nav>
  </mat-toolbar>
</header>
<mat-progress-bar [hidden]="!(isLoading$ | async)" color="warn" mode="indeterminate"></mat-progress-bar>
<div  [hidden]="(isLoading$ | async)" class="loader-placeholder"></div>
<div class="container router-wrapper" [@rotateCubeToLeft]="getState(o)" [@rotateCubeToRight]="getState(o)" role="main">
  <router-outlet #o="outlet"></router-outlet>
</div>
<footer class="pl-3">
  <small>Powered by <a target="_blank" href="https://www.linkedin.com/in/zvika-wais-5b0334117">Zvika
      Wais</a></small>
</footer>