@import "~@angular/material/theming";
@include mat-core();

@mixin theme-color-grabber($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($accent);
  }
  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($primary, default-contrast);
    background-color: mat-color($primary);
  }

  .warning-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }
}

// Define the default theme (same as the example above).
$weather-app-primary: mat-palette($mat-indigo);
$weather-app-accent: mat-palette($mat-pink, A200, A100, A400);
$weather-app-theme: mat-light-theme($weather-app-primary, $weather-app-accent);

// Include the default theme styles.
@include angular-material-theme($weather-app-theme);
@include theme-color-grabber($weather-app-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include theme-color-grabber($dark-theme);
}
